<tr>
  <td><%= link_to detail_model.name, detail_model %></td>
  <td><%= link_to 'Изменть', [ :edit, detail_model] %></td>
  <td><%= link_to 'Удалить', detail_model,
                  method: :delete, 
                  remote: true,
                  data: { confirm: 'Вы уверены?' } %></td>
</tr>
