<p id="notice"><%= notice %></p>

<h1>Классы деталий</h1>
<table class="classification">
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="detail_classes">
    <%= render @detail_classes %>
  </tbody>
</table>

<br>

<h2>Новый класс</h2>
<%= render partial: 'list_items/form', object: @detail_class, as: 'item' %>
<!--%= link_to 'Новый класс', new_detail_class_path %><br/-->
<%= link_to 'Главная', root_path %>
