<h1>Добро пожаловать в железнодорожное депо!</h1>
<p><%= link_to 'Вагоны', controller: 'wagons' %></p>
<p><%= link_to 'Детали', controller: 'details' %></p>
<p><%= link_to 'Классификация', controller: 'detail_classes' %></p>
